<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-keyri"
        version="0.2.0">

    <name>CordovaKeyri</name>
    <description>Cordova Keyri SDK Plugin</description>
    <keywords>authentication, qr-login, passwordless, multifactor-authentication, mobile-authentication,
        ecosystem:cordova, cordova-android, cordova, camera, cordova-ios
    </keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=11.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
    </engines>

    <js-module src="dist/index.js" name="CordovaKeyriPlugin">
        <clobbers target="CordovaKeyri"/>
    </js-module>

    <js-module src="dist/types.js" name="types"/>

    <platform name="android">
        <framework src="com.keyri:keyrisdk:4.1.1"/>
        <framework src="com.keyri:scanner:4.1.1"/>
        <framework src="com.google.code.gson:gson:2.10.1"/>

        <source-file src="src/android/com/keyri/cordova/plugin/CordovaKeyri.kt"
                     target-dir="java/org/apache/cordova/plugin/"/>

        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true"/>
            <preference name="GradlePluginKotlinVersion" value="1.8.21"/>

            <feature name="CordovaKeyri">
                <param name="android-package" value="com.keyri.cordova.plugin.CordovaKeyri"/>
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaKeyri">
                <param name="ios-package" value="CordovaKeyri"/>
            </feature>
        </config-file>

        <source-file src="src/ios/com/keyri/cordova/plugin/CordovaKeyri.swift"/>
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="keyri-pod" spec="~> 4.4.1"/>
            </pods>
        </podspec>
    </platform>
</plugin>
